{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block body %}
<div class="container-fluid my-4 px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x600/?travelling,nature"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>GHUMNA</h2>
        <p>LIFE IS ALL ABOUT GHUMNA</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?travel"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>TRAVELLING</h2>
        <p>TO TRAVEL IS TO LIVE.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?tourism" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>EXPLORE</h5>
        <p>FIND YOURSELF!.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>



<div class="container">
<h1 class="my-4 text-center">TOP DESTINATIONS</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x600/?MANALI" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">MANALI</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x600/?goa" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">GOA</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x600/?maldives" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">MALDIVES</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        



      </div>
      <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x600/?trekking activities" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x600/?trekking activities" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x600/?trekking activities" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="cmp-section-wrapper_content u-color-- "></div>

        



      </div>
    </div>








{% endblock body %}


