{% extends 'base.html' %}




{% block body %}

 {% load static %}

<link rel="stylesheet" href = "{% static 'css/booking.css' %}"> 

<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}" />
  


<>
<div class="container-fluid my-4 px-0">
<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form>
							<div class="form-group">
								<div class="form-checkbox">
									<label for="Search Package">
										<input type="radio" id="Search Package" name="flight-type">
										<span></span>Search Package
									</label>
									<label for="Create Package">
										<input type="radio" id="Create Package" name="flight-type">
										<span></span>Create Package
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Enter State</span>
										<input class="form-control" type="text" placeholder="State">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Enter City</span>
										<input class="form-control" type="text" placeholder="City">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Check In</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Check Out</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<span class="form-label">Adults</span>
										<select class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<span class="form-label">Children (0-7)</span>
										<select class="form-control">
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="row"> 

								<div class="col-md-3" >
									<div class="form-group">
										<span class="form-label" >Package Type</span>
										<select class="form-control"disabled >
                      <option>View Both</option>
											<option>View Hotels Only</option>
											<option>View Agencies Only</option>
											
										</select>
										<span class="select-arrow"></span>
									</div>


								</div>
								<div class="col-md-3">
									<div class="form-btn">
										<button class="submit-btn">Show Availibility</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>


{% endblock body %}