{%extends 'base.html'%}

{%block body%}



<body>
{%load static%}
    <div class="blog-login">
        <div class="blog-login-in">
            <form>
                <img src="{% static 'images/logo.png' %}" alt="" />
                <div class="row">
                    <div class="input-field col s12">
                        <input id="oldpassword" placeholder="Old Password" name="txt1" type="password" class="validate">
                      <!--  <label for="first_name1">Old Password</label>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="newpassword" placeholder="New Password" name="txt2" type="password" class="validate">
                      <!--  <label for="first_name1">New Password</label>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="confirmpassword" placeholder="Confirm Password" name="txt1" type="password" class="validate">
                      <!--  <label for="first_name1">Confirm Password</label>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="waves-effect waves-light btn-large btn-log-in" href="index ">Submit</a>
                    </div>
                </div>
                <a href="/forgot" class="for-pass">Forgot Password?</a>
            </form>
        </div>
    </div>

    <!--======== SCRIPT FILES =========-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
{% endblock body %}