<html>
<body>
    <table border="1" width="100%">
        <tr>
            <td><h1>TRAVEL DUNIYA</h1></td>
        </tr>
        <tr>
            <td><a href="/">home</a>
                <a href="/about">about</a>
                <a href="/contact">contact</a>

            </td>
        </tr>
        <tr>
            <td>
                    {% block mycontent %}
                    {% endblock %}
            </td>
        </tr>
        <tr>
            <td>website developed by yash</td>
        </tr>

    </table>
</body>
</html>