{% extends 'base.html' %}




{% block body %}

 {% load static %}

<link rel="stylesheet" href = "{% static 'css/booking.css' %}"> 

<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}" />
  



<div class="container-fluid my-4 px-0">
HIIIII
</div>


{% endblock body %}