 {% extends 'user/base.html ' %}




{% block body %}

 {% load static %}s
	

	<!--====== QUICK ENQUIRY FORM ==========-->
	<section>
		<div class="form form-spac rows con-page">
			<div class="container">
				<!-- TITLE & DESCRIPTION -->
				<div class="spe-title col-md-12">
					<h2><span>Contact us</span></h2>
					<div class="title-line">
						<div class="tl-1"></div>
						<div class="tl-2"></div>
						<div class="tl-3"></div>
					</div>
					
				</div>

		<div class="pg-contact">
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                            <h2>The <span>Travel</span></h2>
                            <p>We Provide Outsourced Software Development Services To Over 50 Clients From 21 Countries.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="img/contact/1.png' %}" alt="">
                            <h4>Address</h4>
                            <p>Crossword, CG road, Ahmedabad, Gujarat</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="img/contact/2.png' %}" alt="">
                            <h4>CONTACT INFO:</h4>
                            <p> 
                                <a href="tel://0099999999" class="contact-icon">Mobile: 91 12345 12345</a>
                                <br> <a href="mailto:mytestmail@gmail.com" class="contact-icon">Email: travelduniya@gmail.com</a> </p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="img/contact/3.png' %}" alt="">
                            <h4>Website</h4>
                            <p> <a href="#">Website: www.Travelduniya.com</a>
                                
                        </div>
                    </div>				
			</div>
		</div>
	</section>
   
{% endblock body %}
		
